<h2>{{'Application error' | translate }}</h2>
    <div *ngFor="let message of messages" style="border-bottom: 1px solid #dadada;border-top: 1px solid #dadada">
      <div style="font-weight: bold;">Error</div>
      <div style="padding-left: 5px;">{{message.message | translate}}</div>
      <div style="font-weight: bold;">Origin</div>
      <div style="padding-left: 5px;">{{message.origin | translate}}</div>
      <div style="font-weight: bold;">What to do</div>
      <div style="padding-left: 5px;">{{message.reason | translate}}</div>
    </div>
<button md-raised-button (click)="dialogRef.close()">{{'Close' | translate }}</button>
