
<div mat-dialog-content>
  <h1 class="modal_title" mat-dialog-title>{{ 'Dataset name' | translate }} </h1>
  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="bookmarkName" class="bookmark-search-input" (keypress)="pressEvent($event)">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="modal_button" color="accent" [mat-dialog-close]="bookmarkName" tabindex="2">{{ 'OK' | translate }}</button>
  <button mat-raised-button class="modal_button" (click)="cancel()" tabindex="-1">{{ 'Cancel' | translate }}</button>
</div>
