<div *ngIf="componentType === 'histogram'">
  <arlas-histogram #histogram [intervalListSelection]="contributor?.intervalListSelection" [intervalSelection]="contributor?.intervalSelection"
    [data]="contributor?.chartData" (valuesListChangedEvent)="contributor?.valueChanged($event)" [id]="graphParam?.id" [dataType]="graphParam?.dataType"
    [dataUnit]="graphParam?.dataUnit" [valuesDateFormat]="graphParam?.valuesDateFormat" [isHistogramSelectable]="graphParam?.isHistogramSelectable"
    [multiselectable]="graphParam?.multiselectable" [topOffsetRemoveInterval]="graphParam?.topOffsetRemoveInterval" [leftOffsetRemoveInterval]="graphParam?.leftOffsetRemoveInterval"
    [brushHandlesHeightWeight]="graphParam?.brushHandlesHeightWeight" [chartType]="graphParam?.chartType" [chartTitle]="graphParam?.chartTitle"
    [chartWidth]="graphParam?.chartWidth" [chartHeight]="graphParam?.chartHeight" [customizedCssClass]="graphParam?.customizedCssClass"
    [xAxisPosition]="graphParam?.xAxisPosition" [descriptionPosition]="graphParam?.descriptionPosition" [xTicks]="graphParam?.xTicks"
    [yTicks]="graphParam?.yTicks" [xLabels]="graphParam?.xLabels" [yLabels]="graphParam?.yLabels" [showXTicks]="graphParam?.showXTicks"
    [showYTicks]="graphParam?.showYTicks" [showXLabels]="graphParam?.showXLabels" [showYLabels]="graphParam?.showYLabels" [ticksDateFormat]="graphParam?.ticksDateFormat"
    [isSmoothedCurve]="graphParam?.isSmoothedCurve" [barWeight]="graphParam?.barWeight" [paletteColors]="graphParam?.paletteColors"
    [applyOffsetOnAreaChart]="graphParam?.applyOffsetOnAreaChart" [displayOnlyIntervalsWithData]="graphParam?.displayOnlyIntervalsWithData"
    [yAxisStartsFromZero]="graphParam?.yAxisStartsFromZero" [showStripes]="graphParam?.showStripes"></arlas-histogram>
</div>
<div *ngIf="componentType === 'swimlane'">
  <div *ngIf="showSwimlaneDropDown" class="dropdownSwimlane">
    <mat-form-field>
      <mat-select panelClass="panelSwimlane" [value]="swimSelected.name" (change)="changeSwimlane($event)">
        <mat-option *ngFor="let s of swimlanes" value="{{s?.name}}">{{s.name | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <arlas-histogram [chartType]="chartType.swimlane" [selectedSwimlanes]="contributor?.selectedSwimlanes" [data]="contributor?.swimData"
    (selectedSwimlanesEvent)="contributor?.valueChanged($event)" [id]="graphParam?.id" [dataType]="graphParam?.dataType" [dataUnit]="graphParam?.dataUnit"
    [valuesDateFormat]="graphParam?.valuesDateFormat" [isHistogramSelectable]="graphParam?.isHistogramSelectable" [multiselectable]="graphParam?.multiselectable"
    [topOffsetRemoveInterval]="graphParam?.topOffsetRemoveInterval" [leftOffsetRemoveInterval]="graphParam?.leftOffsetRemoveInterval"
    [brushHandlesHeightWeight]="graphParam?.brushHandlesHeightWeight" [chartTitle]="graphParam?.chartTitle" [chartWidth]="graphParam?.chartWidth"
    [chartHeight]="graphParam?.chartHeight" [customizedCssClass]="graphParam?.customizedCssClass" [xAxisPosition]="graphParam?.xAxisPosition"
    [descriptionPosition]="graphParam?.descriptionPosition" [xTicks]="graphParam?.xTicks" [yTicks]="graphParam?.yTicks" [xLabels]="graphParam?.xLabels"
    [yLabels]="graphParam?.yLabels" [showXTicks]="graphParam?.showXTicks" [showYTicks]="graphParam?.showYTicks" [showXLabels]="graphParam?.showXLabels"
    [showYLabels]="graphParam?.showYLabels" [ticksDateFormat]="graphParam?.ticksDateFormat" [isSmoothedCurve]="graphParam?.isSmoothedCurve"
    [barWeight]="graphParam?.barWeight" [paletteColors]="graphParam?.paletteColors" [swimlaneMode]="graphParam?.swimlaneMode"
    [swimLaneLabelsWidth]="graphParam?.swimLaneLabelsWidth" [swimlaneBorderRadius]="graphParam?.swimlaneBorderRadius" [swimlaneHeight]="graphParam?.swimlaneHeight"
    [displayOnlyIntervalsWithData]="graphParam?.displayOnlyIntervalsWithData"></arlas-histogram>
</div>

<div *ngIf="componentType==='powerbars'">
  <arlas-powerbars [customizedCssClass]="graphParam?.customizedCssClass" [powerbarTitle]="graphParam?.powerbarTitle" [displayFilterField]="graphParam?.displayFilter"
    [inputData]="contributor?.treeData" [useColorService]="graphParam?.useColorService" [keysToColors]="graphParam?.keysToColors" [colorsSaturationWeight]="graphParam?.colorsSaturationWeight"
    (selectedPowerBarEvent)="contributor?.selectedNodesListChanged($event)" [selectedPaths]="contributor?.selectedNodesPathsList"
    (searchedTerm)="contributor?.updateTreeDataSearch($event)">
  </arlas-powerbars>
</div>

<div *ngIf="componentType==='donut'" class="donut-container">
  <div class="donut">{{contributor?.getFilterDisplayName() | translate}}</div>
  <arlas-donut [id]="graphParam?.id" [donutData]="contributor?.treeData" [opacity]="graphParam.opacity" [multiselectable]="graphParam?.multiselectable"
    [selectedArcsList]="contributor?.selectedNodesPathsList" [keysToColors]="graphParam?.keysToColors" [colorsSaturationWeight]="graphParam?.colorsSaturationWeight"
    (selectedNodesEvent)="contributor?.selectedNodesListChanged($event)" [customizedCssClass]="graphParam?.customizedCssClass">
  </arlas-donut>
</div>

<div *ngIf="componentType === 'resultlist'">
  <arlas-result-list style="height:100%" [rowItemList]="contributor?.data" [detailedDataRetriever]="contributor?.detailedDataRetriever"
    [fieldsConfiguration]="contributor?.fieldsConfiguration" [fieldsList]="contributor?.fieldsList" [filtersMap]="contributor?.filtersMap"
    [dropDownMapValues]="contributor?.dropDownMapValues" (sortColumnEvent)="contributor?.sortColumn($event)" (moreDataEvent)="contributor?.getMoreData($event)"
    (setFiltersEvent)="contributor?.setFilters($event)" [tableWidth]="graphParam.tableWidth" [globalActionsList]="graphParam.globalActionsList"
    [nLastLines]="graphParam.nLastLines" [detailedGridHeight]="graphParam.detailedGridHeight"
    [nbGridColumns]="graphParam.nbGridColumns" [indeterminatedItems]="this.indeterminatedItems" [highlightItems]="this.highlightItems"
    [defautMode]="graphParam.defautMode" [displayFilters]="graphParam.displayFilters" [isBodyHidden]="graphParam.isBodyHidden"
    [isGeoSortActived]="graphParam?.isGeoSortActived" [isAutoGeoSortActived]="graphParam?.isAutoGeoSortActived"
    [useColorService]="graphParam?.useColorService" [cellBackgroundStyle]="graphParam?.cellBackgroundStyle"
    [keysToColors]="graphParam?.keysToColors" [colorsSaturationWeight]="graphParam?.colorsSaturationWeight"
    (geoSortEvent)="emitEvent(contributorId, 'geoSortEvent', $event)"
    (geoAutoSortEvent)="emitEvent(contributorId, 'geoAutoSortEvent', $event)" (selectedItemsEvent)="emitEvent(contributorId, 'selectedItemsEvent', $event)"
    (consultedItemEvent)="emitEvent(contributorId, 'consultedItemEvent', $event)" (actionOnItemEvent)="emitEvent(contributorId, 'actionOnItemEvent', $event)"
    (globalActionEvent)="emitEvent(contributorId, 'globalActionEvent', $event)">
  </arlas-result-list>
</div>
