<div class="filters-chips--container">
  <mat-chip-list class="filters-chips">
    <span class="home-filters-logo"><img *ngIf="logoUrl!==undefined" class="filters-logo" src="{{logoUrl}}"></span>
   <span class="home-chip--label" (click)="removeAllFilters()" matTooltip="{{ 'Clear all filters' | translate }}">
     {{title | translate}}</span>
    <mat-icon class="filter-delimiter">keyboard_arrow_right</mat-icon>

    <ng-container *ngFor="let contributorId of collaborations">
      <mat-basic-chip class="filter-chip" [style.color]="contributorId | getColorFilter:'color':backgroundColor:collaborationsMap " 
      [style.background-color]="contributorId | getColorFilter:'background':backgroundColor:collaborationsMap " 
        (click)="changeCollaborationState(contributorId)" 
        [attr.title]="contributorId | getContributorLabel:contributors | translate | concatCollection:contributorId:contributors">
        <mat-icon class="filter-chip__icon">{{contributorId | getCollaborationIcon :contributorsIcons }}</mat-icon>
        <mat-icon (click)="removeCollaboration(contributorId)" class="filter-chip__icon_close mat-icon material-icons">
          clear</mat-icon>
      </mat-basic-chip>
      <mat-icon class="filter-delimiter">keyboard_arrow_right</mat-icon>
    </ng-container>
    <mat-basic-chip class="filter-chip filter-count" id="arlas-count">
      {{countAll | formatNumber:NUMBER_FORMAT_CHAR}} {{unit | translate}}
    </mat-basic-chip>
  </mat-chip-list>
</div>