/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

// Proceed with caution if making changes to this file.

@use 'sass:map';
@use '@angular/material' as mat;
@use './tokens' as token;

/**
  Dark theme palette for m2
 */
$m2-dark-palette: (
  accent: (
    50: #ffecef,
    100: #ffd9e0,
    200: #ffb1c4,
    300: #f18ea9,
    400: #d2748e,
    500: #E33E6B,
    600: #96435c,
    700: #782c45,
    800: #5c152f,
    900: #3f001a,
    A100: #ffd9e0,
    A200: #ffb1c4,
    A400: #d2748e,
    A700: #782c45,
    contrast: (
      50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87),
      300: rgba(black, 0.87), 400: rgba(black, 0.87), 500: white,
      600: white, 700: white, 800: white, 900: white,
      A100: rgba(black, 0.87), A200: rgba(black, 0.87), A400: rgba(black, 0.87), A700: white,
    ),
  ),
  primary: (
    50: #eef0ff,
    100: #dae2ff,
    200: #b1c5ff,
    300: #87a9ff,
    400: #668eea,
    500: #2F6BFF,
    600: #2f5ab4,
    700: #08429a,
    800: #002c70,
    900: #001946,
    A100: #dae2ff,
    A200: #b1c5ff,
    A400: #668eea,
    A700: #08429a,
    contrast: (
      50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87),
      300: rgba(black, 0.87), 400: rgba(black, 0.87), 500: white,
      600: white, 700: white, 800: white, 900: white,
      A100: rgba(black, 0.87), A200: rgba(black, 0.87), A400: rgba(black, 0.87), A700: white,
    ),
  ),
  tertiary: (
    50: #fdebff,
    100: #f5d9ff,
    200: #e7b4ff,
    300: #ce95eb,
    400: #b27bcf,
    500: #9761b3,
    600: #7c4898,
    700: #62307e,
    800: #4a1666,
    900: #30004a,
    A100: #f5d9ff,
    A200: #e7b4ff,
    A400: #b27bcf,
    A700: #62307e,
    contrast: (
      50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87),
      300: rgba(black, 0.87), 400: rgba(black, 0.87), 500: rgba(black, 0.87),
      600: white, 700: white, 800: white, 900: white,
      A100: rgba(black, 0.87), A200: rgba(black, 0.87), A400: rgba(black, 0.87), A700: white,
    ),
  ),
  neutral: (
    50: #f6eff0,
    100: #e8e1e2,
    200: #cbc5c6,
    300: #afaaab,
    400: #948f91,
    500: #7a7677,
    600: #615d5e,
    700: #494647,
    800: #333031,
    900: #1d1b1c,
    A100: #e8e1e2,
    A200: #cbc5c6,
    A400: #948f91,
    A700: #494647,
    contrast: (
      50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87),
      300: rgba(black, 0.87), 400: rgba(black, 0.87), 500: rgba(black, 0.87),
      600: white, 700: white, 800: white, 900: white,
      A100: rgba(black, 0.87), A200: rgba(black, 0.87), A400: rgba(black, 0.87), A700: white,
    ),
  ),
  neutral-variant: (
    50: #ffecef,
    100: #f5dce1,
    200: #d8c1c5,
    300: #bca6aa,
    400: #a18b8f,
    500: #867276,
    600: #6c5a5d,
    700: #534246,
    800: #3c2c30,
    900: #25181b,
    A100: #f5dce1,
    A200: #d8c1c5,
    A400: #a18b8f,
    A700: #534246,
    contrast: (
      50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87),
      300: rgba(black, 0.87), 400: rgba(black, 0.87), 500: rgba(black, 0.87),
      600: white, 700: white, 800: white, 900: white,
      A100: rgba(black, 0.87), A200: rgba(black, 0.87), A400: rgba(black, 0.87), A700: white,
    ),
  ),
  error: (
    50: #ffedea,
    100: #ffdad6,
    200: #ffb4ab,
    300: #ff897d,
    400: #ff5449,
    500: #de3730,
    600: #ba1a1a,
    700: #93000a,
    800: #690005,
    900: #410002,
    A100: #ffdad6,
    A200: #ffb4ab,
    A400: #ff5449,
    A700: #93000a,
    contrast: (
      50: rgba(black, 0.87), 100: rgba(black, 0.87), 200: rgba(black, 0.87),
      300: rgba(black, 0.87), 400: rgba(black, 0.87), 500: rgba(black, 0.87),
      600: white, 700: white, 800: white, 900: white,
      A100: rgba(black, 0.87), A200: rgba(black, 0.87), A400: rgba(black, 0.87), A700: white,
    ),
  ),
);

$primary-palette: mat.m2-define-palette(map.get($m2-dark-palette, primary), 500);
$tertiary-palette: mat.m2-define-palette(map.get($m2-dark-palette, tertiary), 500);
$secondary-palette: mat.m2-define-palette(map.get($m2-dark-palette, accent), 500);

/**
 Dark theme overrid. Cause for m2 theme variables are hardcoded in theme mixin
 */
$dark-theme-color-override-map: (
  background: #0B0F19,
  on-background: #F1F5F9,
  surface: #0E1525,
  surface-variant: #1E293B,
  on-surface: #F1F5F9,
  surface-container-low: #10182B,
  surface-container: #131B2E,
  surface-container-high: #1E293B,
  on-surface-variant: #F1F5F9,
  outline-variant: #293F70,
);

/**
 Global mixin that define dark theme
 */
@mixin m2-dark-theme-custom-override(){
  // Create dark theme
  $dark-theme: mat.m2-define-dark-theme((
    color: (
      primary: $primary-palette,
      accent: $secondary-palette
    )
  ));


  // _mat-system private props used to set all component surface and bg color
  $system: map.get($dark-theme, _mat-system);
  $patched-system: map.merge($system, $dark-theme-color-override-map);
  $my-final-theme:  map.set($dark-theme, _mat-system, $patched-system);

  .dark-theme {
    @include mat.system-classes();
    @include mat.m2-theme($my-final-theme, $dark-theme-color-override-map);
    @include mat.all-component-colors($my-final-theme);
    @include token.theme-token($my-final-theme);

    /**
      Component override.
      Used when component has hard coded color in their theming function
     */
    @include mat.stepper-overrides((
      header-icon-background-color: grey
    ));
    @include mat.tooltip-overrides((
      container-color: var(--mat-sys-surface),
      supporting-text-color: var(--mat-sys-on-surface),
    ));
  }
}
