/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use '@angular/material' as mat;
/**
    Define all tokens used in Arlas app that could be mutualized.
 */

:root{
  /* =========================================
     COLOR
     ========================================= */
  --arlas-sys-warn-color: #f0ad4e;
  --arlas-sys-success: #5cb85c;
  /**
   Text color to use when arlas-sys-success is used
   */
  --arlas-sys-on-success: white;
  /**
   Color used as accent in Arlas
   */
  --arlas-sys-accent-varient: #F44336;
  --arlas-sys-accent-variant2: #00bcd4;
  --arlas-sys-accent-variant3:  rgb(48, 136, 177);
  --arlas-sys-accent-variant4:  #337ab7;
  --arlas-sys-on-accent-varient: white;
  --arlas-sys-histogram-headband-fill: #88c9c3;
  --arlas-sys-histogram-bar-fill: white;
  --arlas-sys-histogram-bar-stroke: #a5a5a5;
  --arlas-sys-light-surface: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);
  --arlas-sys-on-light-surface: color-mix(in srgb, var(--mat-sys-on-surface) 40%, transparent);
  --arlas-sys-outline: rgba(0, 0, 0, .12)
}

/**
  Arlas token to override according to theme type.
 */
@mixin theme-token($theme){
    $is-dark: mat.get-theme-type($theme) == dark;
    @if($is-dark){
      --arlas-sys-histogram-bar-fill: #616b79;
      --arlas-sys-outline: rgba(255, 255, 255, .12);
    }
}
