<div style="margin-bottom: 10px;display: flex;justify-content: space-between;">
  <arlas-filter [title]="'ARLAS tookit'" [backgroundColor]="'#FFF'"></arlas-filter>
  <button *ngIf="connected" mat-flat-button color="accent" (click)="logout()">Log out</button>
</div>



<arlas-timeline #timeline  class="arlas-timeline-toolkit" [activeDatePicker]="true"
  [timelineComponent]="timelineComponentConfig">
</arlas-timeline>

<arlas-analytics-board class="arlas-board" [showSpinner]="true" [groups]="analytics"></arlas-analytics-board>

