

<arlas-top-menu [wuiName]="'ARLAS Toolkit'" [version]="version">
  <div left-menu class="left-menu">
    <div>ARLAS Toolkit</div>
    <arlas-search [searchContributors]="searchContributors" [dialogPositionTop]="10" [dialogPositionLeft]="50"></arlas-search>
  </div>
  <div middle-menu class="shortcut-list">
    <ng-container *ngFor="let shortcut of shortcuts; let idx=index" >
      <arlas-filter-shortcut class="shortcut" [style.z-index]="lastShortcutOpen === idx ? 2 : 1"
        [shortcut]="shortcut" [(isOpen)]="isShortcutOpen[idx]" [displayFilterFirstValue]="false"></arlas-filter-shortcut>
    </ng-container>
  </div>
  <div right-menu>
    <button mat-icon-button [matMenuTriggerFor]="actionMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="bookmarkMenu.matMenu">
        <mat-icon>bookmark</mat-icon>
        <span>Bookmarks</span>
      </button>
    </mat-menu>
    <button *ngIf="connected" mat-flat-button color="accent" (click)="logout()">Log out</button>
  </div>
</arlas-top-menu>

<div class="process-container">
  <mat-form-field>
    <mat-label>Asset format</mat-label>
    <mat-select [(value)]="selectedAssetFormat">
      <mat-option *ngFor="let format of assetFormats" [value]="format">
        {{ format }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Item format</mat-label>
    <mat-select [(value)]="selectedItemFormat">
      <mat-option *ngFor="let format of itemFormats" [value]="format">
        {{ format }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="process"
    (click)="openDownload()">Download</button>

  <button mat-raised-button class="process"
    (click)="openEnrich()">Enrich</button>
</div>

<div style="margin-bottom: 10px;">
  <arlas-filter [title]="'ARLAS toolkit'" [backgroundColorFilter]="'#eee'" [colorFilter]="'#000'"
    [availableSpace]="windowWidth - 5"></arlas-filter>
</div>

<arlas-timeline *ngIf="timelineComponentConfig" [activeDatePicker]="true" [timelineComponent]="timelineComponentConfig"
  [detailedTimelineComponent]="detailedTimelineComponentConfig" [units]="units" class="timeline" [showSpinner]="true">
</arlas-timeline>

<arlas-analytics-menu class="analytics-menu-container" [tabIndexByDefault]="2" [showIndicators]="true"></arlas-analytics-menu>

<arlas-analytics-board class="arlas-board" [showSpinner]="true" [showIndicators]="true"></arlas-analytics-board>
<arlas-tool-root></arlas-tool-root>

<arlas-bookmark-menu #bookmarkMenu></arlas-bookmark-menu>
