<div #tooltip></div>
<arlas-top-menu [wuiName]="'ARLAS Toolkit'" [version]="version">
  <div left-menu class="left-menu">
    <div>ARLAS Toolkit</div>
    <arlas-search [searchContributor]="searchContributor" [dialogPositionTop]="10" [dialogPositionLeft]="50"></arlas-search>
  </div>
  <div middle-menu class="shortcut-list">
    <ng-container *ngFor="let shortcut of shortcuts; let idx=index" >
      <arlas-filter-shortcut class="shortcut" [style.z-index]="lastShortcutOpen === idx ? 2 : 1"
        [shortcut]="shortcut" [(isOpen)]="isShortcutOpen[idx]" [displayFilterFirstValue]="false"></arlas-filter-shortcut>
    </ng-container>
  </div>
  <div right-menu>
    <arlas-permissions-creator></arlas-permissions-creator>
    <arlas-language-switcher [availablesLanguages]="['en', 'fr']" [currentLanguage]="'en'"></arlas-language-switcher>
    <button mat-icon-button [matMenuTriggerFor]="actionMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu">
      <button mat-menu-item (click)="displayShare()">
        <mat-icon>share</mat-icon>
        <span>Share geographical data</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="bookmarkMenu.matMenu">
        <mat-icon>bookmark</mat-icon>
        <span>Bookmarks</span>
      </button>
      <button mat-menu-item (click)="displayDownload()">
        <mat-icon>get_app</mat-icon>
        <span>Download data</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="tagMenu">
        <mat-icon>local_offer</mat-icon>
        <span>Tag data</span>
      </button>
    </mat-menu>
    <button *ngIf="connected" mat-flat-button color="accent" (click)="logout()">Log out</button>
  </div>
</arlas-top-menu>

<div style="margin-bottom: 10px;">
  <arlas-filter [title]="'ARLAS toolkit'" [backgroundColorFilter]="'#eee'" [colorFilter]="'#000'" [units]="units"
    [availableSpace]="windowWidth - 5"></arlas-filter>
</div>

<arlas-timeline *ngIf="timelineComponentConfig" [activeDatePicker]="true" [timelineComponent]="timelineComponentConfig"
  [detailedTimelineComponent]="detailedTimelineComponentConfig" [units]="units" class="timeline" [showSpinner]="true">
</arlas-timeline>

<arlas-analytics-menu class="analytics-menu-container" [tabIndexByDefault]="2" [showIndicators]="true"></arlas-analytics-menu>

<arlas-analytics-board class="arlas-board" [showSpinner]="true" [showIndicators]="true"></arlas-analytics-board>
<arlas-tool-root></arlas-tool-root>

<arlas-bookmark-menu #bookmarkMenu></arlas-bookmark-menu>
<arlas-share #share [icon]="'share'" [hidden]="true"></arlas-share>
<arlas-download #download [collections]="collections" [hidden]="true"></arlas-download>
<arlas-tag #tag></arlas-tag>

<mat-menu #tagMenu="matMenu">
  <button mat-menu-item (click)="displayTag()">
    <mat-icon>add_circle_outline</mat-icon>
    <span>Add</span>
  </button>
  <button mat-menu-item (click)="displayTagManagement()">
    <mat-icon>replay</mat-icon>
    <span>Replay</span>
  </button>
</mat-menu>