/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.arlas-timeline-toolkit{
  position:relative;
  display: block;
  top: 175px;
}
.arlas-board{
  position: relative;
  top: 115px;
  width: 466px;
  display: block;
}

.shortcut-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 14px;
  height: 30px;
}

.shortcut {
  padding: 0 8px;
  height: fit-content;
}

::ng-deep.title {
  height: 28px;
}

::ng-deep.open_title {
  margin-bottom: 0;
}

::ng-deep.content {
  top: 52px !important;
}

::ng-deep.arlas-timeline--tools {
  position: relative !important;
  bottom: unset !important;
}

.left-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  position: relative;
  top: 220px;
}

.analytics-menu-container {
  position: relative;
  top: 220px;
}

::ng-deep.extra-counts {
  top: 78px !important;
}