.analytics-board-panel{
  margin: 2px;
}

.analytics-board-panel-title{
  align-items: center;
}

.analytics-board-panel-icon{
  margin-right: 5px;
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.analytics-board-content{
  display: flex;
  flex-direction: column;
}

.analytics-board-group{
  flex:1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.analytics-board-card{
  flex:1;
  width: 100%;
  margin: 3px;
  padding: 3px;
}

.analytics-board-card .mat-card-title{
  font-size: 15px;
  margin-bottom: 5px;
}

.analytics-board-card-icon{
  margin-right: 5px;
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.analytics-board-card-title{
  display: flex;
  align-items: center;
  padding: 3px 0 0 25px;
}

.analytics-board-compact{
  width: 35px;
}

.analytics-board-compact .mat-card{
  padding: 5px 5px 0 5px !important;
  border-radius: 0px;
}

.analytics-compact-card{
  cursor: pointer;
}

.active-filter{
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #00DDE5;
  border-radius: 9px;
  right: -12px;
  top: 8px;
}

.active-filter-close{
  display: none;
  padding: 2px 0px 0 2px;
  font-size: 14px;
  color: white;
}

.active-filter:hover .active-filter-close{
  display: block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.analytics-board-panel:hover  .export-csv-button{
  display: block
}
