.arlas-timeline-toolkit{
    position:relative;
    display: block;
    top: 175px;
}
.arlas-board{
    position: relative;
}

.shortcut {
    padding: 2px;
}

::ng-deep.arlas-timeline--tools {
    position: relative !important;
    bottom: unset !important;
}

::ng-deep.arlas-timeline--timelines {
    position: relative !important;
    left: 0px !important;
}

::ng-deep.arlas-timeline--legend {
    height: 0px !important;
}

.left-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}