<arlas-top-menu [wuiName]="'ARLAS Toolkit'" [version]="version">
  <div left-menu>ARLAS Toolkit</div>
  <div right-menu>
    <button mat-icon-button class="button">
      <mat-icon>thumb_up</mat-icon>
    </button>
  </div>
</arlas-top-menu>

<div style="margin-bottom: 10px;">
  <arlas-filter [title]="'ARLAS toolkit'" [backgroundColorFilter]="'#eee'" [colorFilter]="'#000'"></arlas-filter>
</div>

<div style="display: flex; height: 330px;">
  <div *ngFor="let shortcut of shortcuts; let even=even; let idx=index" class="shortcut"
    [style.z-index]="lastShortcutOpen === idx ? 2 : 1">
    <arlas-filter-shortcut [shortcut]="shortcut" [openAtFirst]="even" (openEvent)="onOpen($event, idx)"
      (click)="onOpen(true, idx)" [shortcutWidth]="300"></arlas-filter-shortcut>
  </div>
</div>

<arlas-timeline *ngIf="timelineComponentConfig" [activeDatePicker]="true" [timelineComponent]="timelineComponentConfig"
  [detailedTimelineComponent]="detailedTimelineComponentConfig">
</arlas-timeline>

<arlas-analytics-board class="arlas-board" [showSpinner]="true" [groups]="analytics"></arlas-analytics-board>
<arlas-tool-root></arlas-tool-root>