.arlas-timeline-toolkit{
    position:relative;
    display: block;
    top: 175px;
}
.arlas-board{
    position: relative;
    top: 115px;
    width: 466px;
    display: block;
}

.shortcut-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 14px;
    height: 30px;
}

.shortcut {
    padding: 0 8px;
    height: fit-content;
}

::ng-deep.title {
    height: 28px;
}

::ng-deep.open_title {
    margin-bottom: 0;
}

::ng-deep.content {
    top: 53px !important;
}

::ng-deep.arlas-timeline--tools {
    position: relative !important;
    bottom: unset !important;
}

.left-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    position: relative;
    top: 220px;
}

.analytics-menu-container {
    position: relative;
    top: 220px;
}