<div style="margin-bottom: 10px;">
  <arlas-filter [title]="'ARLAS toolkit'" [backgroundColor]="'#FFF'"></arlas-filter>
</div>

<div style="display: flex;">
  <div *ngFor="let shortcut of shortcuts; let even=even; let idx=index" style="padding: 2px;">
    <arlas-filter-shortcut [shortcut]="shortcut" [openAtFirst]="even" (openEvent)="onOpen($event, idx)"></arlas-filter-shortcut>
  </div>
</div>


<arlas-analytics-board class="arlas-board" [showSpinner]="true" [groups]="analytics"></arlas-analytics-board>
<arlas-tool-root></arlas-tool-root>