.tag-button{
  padding: 0 5px;
}

.tag-button:focus{
  outline: none;
}

.arlas-tag-box{
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 0.9em;
}

.arlas-tag-notification{
  padding: 10px;
}

.arlas-tag-notification-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.arlas-tag-notification-icon-green{
  color: #4CAF50;
}

.arlas-tag-notification-icon-blue{
  color: #2196F3;
}

.arlas-tag-notification-icon-grey{
  color: lightslategrey;
  display: none !important;
  cursor: pointer;
}

.arlas-tag-active .arlas-tag-hide{
  display: none !important;
}

.arlas-tag-active .arlas-tag-show{
  display: block !important;
}
