<h1>{{'User informations' | translate}}
    <img src="{{avatar}}" style="vertical-align: middle; height:26px" class="user_info_img">
</h1>

<ul>
    <li>
        <dl>
            <dt>{{'Name' | translate}}</dt>
            <dd>{{name}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>{{'Email' | translate}}</dt>
            <dd>{{email}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>{{'Organisation' | translate}}</dt>
            <dd>{{organisation}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>{{'Roles' | translate}}</dt>
            <mat-list class=role>
                <mat-list-item *ngFor="let role of roles">{{role}}</mat-list-item>
            </mat-list>
        </dl>
    </li>
    <li>
        <dl>
            <dt>{{'Groups' | translate}}</dt>
            <mat-list class=group>
                <mat-list-item *ngFor="let group of groups">{{group}}</mat-list-item>
            </mat-list>
        </dl>
    </li>
</ul>