<div>
    <h2 mat-dialog-title>{{'Invalid configuration id' | translate}} {{':' + configId}}</h2>
    <mat-dialog-content>{{'The configuration you try to load is invalid. Please load another one.'| translate}}</mat-dialog-content>
    <mat-dialog-actions>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-raised-button class="modal_button" color="primary" [mat-dialog-close]="true">{{'Ok' | translate}}</button>
    </mat-dialog-actions>
</div>
