<mat-horizontal-stepper [linear]="true" (selectionChange)="changeStep($event)" class="download-stepper">
  <mat-step [stepControl]="exportTypeGroup">
    <form [formGroup]="exportTypeGroup">
      <ng-template matStepLabel>{{'Type' | translate}}</ng-template>
      <mat-radio-group class="download-radio-group" formControlName="exportType">
        <mat-radio-button [value]="'csv'" class="download-radio-button">{{ 'CSV' | translate}}
        </mat-radio-button>
        <mat-radio-button [value]="'json'" class="download-radio-button">{{ 'Json' | translate}}
        </mat-radio-button>
      </mat-radio-group>
      <div class="admonition note">
        <p class="admonition-title">{{'Important' | translate}}</p>
        <p>
          {{'This tool allows you to get a docker command line to download your data' | translate}}.<br>
          {{'Make sure you have' | translate}} <strong>docker</strong> {{'installed before continuing' | translate}}.
        </p>
      </div>
      <div>
        <mat-divider style="margin-top:15px;"></mat-divider>
        <button mat-button matStepperNext class="download-stepper-button">{{ 'Next' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="paramFormGroup">
    <form [formGroup]="paramFormGroup">
      <ng-template matStepLabel>{{'Parameters' | translate}}</ng-template>
      <div class="download-feature-block">
        <div style="flex:3" class="download-title-list">
          <mat-label>{{'Available fields' | translate}}</mat-label>
        </div>
        <div style="flex:1;padding:0 7px;">
        </div>
        <div style="flex:3" class="download-title-list">
          <mat-label>{{'Selected fields' | translate}}</mat-label>
        </div>
      </div>
      <div class="download-feature-block">
        <div style="max-height: 40vh;overflow:auto;flex:3">
          <mat-selection-list role="listbox" formControlName="availableFields" #selectedList
            (selectionChange)=onSelectionChange(selectedList.selectedOptions.selected)>
            <mat-list-option *ngFor="let field of allFields">
              <p matLine title="{{ field.label }} - {{field.type}}">
                {{ field.label }} - <span class="download-description">{{field.type}}</span>
              </p>
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="download-feature-button">
          <button mat-raised-button class="mat-accent fill text-sm download-button" matTooltip="{{'Select All' | translate}}"
            [matTooltipPosition]="'above'"
            (click)="selectedList.selectAll();onSelectionChange(selectedList.selectedOptions.selected)">
            &gt;&gt;
          </button>
          <br /><br />
          <button mat-raised-button class="mat-primary fill text-sm download-button" matTooltip="{{'Remove All' | translate}}"
            (click)="selectedList.deselectAll();onSelectionChange(selectedList.selectedOptions.selected)">
            &lt;&lt;
          </button>
        </div>

        <div style="max-height:40vh;overflow:auto;flex:3">
          <mat-list role="list">
            <mat-list-item *ngIf="selectedFields.length == 0">{{'No item selected' | translate}}</mat-list-item>
            <mat-list-item role="listitem" *ngFor="let field of selectedFields">
              <p matLine title="{{ field.label }} - {{field.type}}">
                {{ field.label }} - <span class="download-description">{{field.type}}</span>
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div *ngIf="exportTypeGroup.get('exportType').value === 'csv'" class="fields-form">
        <div class="download-feature-block">
          <mat-form-field class="download-form-field" >
            <mat-select placeholder="{{'Order by' | translate}}" formControlName="orderField" [(value)]="selectedFirstOrderField"
              panelClass="download-order-field" (valueChange)="orderSelect()">
              <mat-option [value]="">{{'None' | translate}}</mat-option>
              <mat-option *ngFor="let field of selectedSortableFields" [value]="field">
                {{ field.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="download-form-field">
            <mat-select placeholder="{{'Then order by' | translate}}" formControlName="orderField2" [(value)]="selectedSecondOrderField"
              panelClass="download-order-field" (valueChange)="orderSelect()">
              <mat-option [value]="">{{'None' | translate}}</mat-option>
              <mat-option *ngFor="let field of selectedSortableFields" [value]="field">
                {{ field.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="download-form-field">
            <mat-select placeholder="{{'Finally order by' | translate}}" formControlName="orderField3"   [(value)]="selectedThirdOrderField"
              panelClass="download-order-field" (valueChange)="orderSelect()">
              <mat-option [value]="">{{'None' | translate}}</mat-option>
              <mat-option *ngFor="let field of selectedSortableFields" [value]="field">
                {{ field.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-divider style="margin-top:15px;"></mat-divider>
        <button mat-button matStepperPrevious class="download-stepper-button">{{ 'Back' | translate}}</button>
        <button mat-button matStepperNext class="download-stepper-button">{{ 'Next' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ 'Command line' | translate}}</ng-template>
    <div style="display:flex;flex-direction:row" class="download-block">
      <textarea class="download-box" #docker_command>docker run \
      -it \
      --mount dst=/output,src="$PWD",type=bind \
      --rm \
      gisaia/arlas-hits-exporter \
        --search_url="{{server.url}}/explore/{{server.collection.name}}/_search?size=9999&sort={{server.collection.id}}&{{filterUrl}}" \
        --include={{selectedFieldString}} \
        --format={{this.exportedTypeCommand}}
        {{this.orderCommand}}
        {{authTypeCommand}}
  </textarea>
    </div>
    <div>
      <mat-divider style="margin-top:15px;"></mat-divider>
      <button mat-button matStepperPrevious class="download-stepper-button">{{ 'Back' | translate}}</button>
      <button mat-raised-button color="accent" class="download-stepper-button download-stepper-button-copy" [class.btn-success]="isCopied" (click)="copyTextToClipboard(docker_command.value)">
        <mat-icon [class.hide-icon]="!isCopied">check</mat-icon>
        <span *ngIf="!isCopied">{{ 'Copy' | translate}}</span>
        <span *ngIf="isCopied">{{ 'Copied' | translate}}</span>
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
