/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;

.dark-theme {
    markdown {
      color:  var(--mat-sys-on-background);
      background: inherit;
    }

    markdown pre,
    markdown code {
      background: var(--mat-sys-background);
      color: var(--mat-sys-on-background);
    }

    markdown a {
      color: #6ab0f3;
    }

    markdown blockquote {
      border-left-color: #555;
      color: #aaa;
    }
}
