########################################################
############   AUTHENTICATION SETTINGS   ###############
########################################################
authentication:
  use_authent: true
  auth_mode: 'openid'
  force_connect: false
  threshold: 5000
  url: https://localhost/arlas_iam_server
  sign_up_enabled: true

  use_discovery: true
  issuer: https://localhost:9443/auth/realms/arlas
  client_id: arlas-front
  redirect_uri: http://localhost:4200/callback
  silent_refresh_redirect_uri: http://localhost:4200/silent-refresh.html
  scope: profile
  login_url: https://localhost:9443/auth/realms/arlas
  show_debug_information: true
  require_https: false
  response_type: code
  silent_refresh_timeout: 10000
  timeout_factor: 0.75
  session_checks_enabled: true
  clear_hash_after_login: true
  storage: memorystorage
  disable_at_hash_check: true

tab_name: "ARLAS Wui"

persistence:
  url: https://localhost/persist
  use_local_config: false

links:
  - name: Explorer
    icon: landscape
    check_url: http://localhost:81/server/explore/demo_algoe/_count?&righthand=false&pretty=false&max-age-cache=120
    url: https://demo.cloud.arlas.io/
  - name: ARLAS Builder
    icon: build
    check_url: http://localhost:9997/arlas_iam_server
    url: https://demo.cloud.arlas.io/
  - name: ARLAS Hub
    icon: hub
    check_url: http://localhost:81/server/explore/demo_algoe/_count?&righthand=false&pretty=false&max-age-cache=120
    url: https://demo.cloud.arlas.io/
  - name: Fam
    icon: satellite_alt
    url: https://demo.cloud.arlas.io/
    check_url: http://localhost:9997/arlas_iam_server
