/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('./assets/fonts/material-icons.woff2') format('woff2'),
  url('./assets/fonts/material-icons.woff') format('woff'),
  url('./assets/fonts/material-icons.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.dropdownSwimlane{
  text-align: center;
}

.panelSwimlane{
  color:black;
}

.powerbarTitle{
  text-align: center;
}

.analytics-board-panel .mat-expansion-panel-body{
  margin: 0 1px 10px;
  padding-right: 10px;
}

.share-option-check .mat-pseudo-checkbox {
  display: none !important;
}

.donut-container{
  height: 250px;
  padding: 20px;
}


.arlas-metric-container {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 116px;
}

.arlas-metric-value, .arlas-metric-title, .arlas-metric-description {
  padding: 8px;
}

.arlas-metric-value {
  font-size: 3em;
}
.people .arlas-metric-value {
  font-weight: bold;
  color: #589ff0;
}

.country .arlas-metric-value {
  font-weight: bold;
  color: #f5c133;
}


.weight .arlas-metric-value {
  font-weight: bold;
  color: #c53030;
}
