<div *ngIf="type=== ConfigAction.DELETE">
    <h2 mat-dialog-title>Delete {{name}}?</h2>
    <mat-dialog-content>{{'This will delete' | translate}} {{name}} {{'element and cannot be undone.' | translate}}</mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false">{{'Cancel' | translate}}</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button [mat-dialog-close]="configId">{{'Delete' | translate}}</button>
    </mat-dialog-actions>
</div>

<div *ngIf="type=== ConfigAction.DUPLICATE">
    <h2 mat-dialog-title>{{'Duplicate' | translate}} {{name}}?</h2>
    <div mat-dialog-content>
        <mat-form-field class="example-form-field">
            <mat-label>{{'New name' | translate}}</mat-label>
            <input matInput type="text" [(ngModel)]="value" (focus)="duplicateError=''">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <span style="color: red; display: block;">{{duplicateError | translate}}</span>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="modal_button" color="primary" (click)="duplicate(value, configId)">{{ 'Duplicate' | translate}}</button>
        <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{ 'Cancel' | translate}}</button>
    </div>
</div>

<div *ngIf="type=== ConfigAction.CREATE">
  <h2 mat-dialog-title>{{'Add a new configuration' | translate}}</h2>
  <div mat-dialog-content>
      <mat-form-field class="example-form-field">
          <mat-label>{{'Name' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button class="modal_button" color="primary" [mat-dialog-close]="value">{{ 'Create' }}</button>
      <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{ 'Cancel' }}</button>
  </div>
</div>
