.share-radio-group {
  display: inline-flex;
  flex-direction: row;
  padding:10px;
  flex:1;
}

.share-radio-button {
  margin: 5px;
}

.share-url{
  width: 100%;
  flex:3;
}

.share-copy-url{
  flex:1;
  font-weight: 200;
}

.share-description{
  font-size: 15px;
  font-weight: 300;
}

.share-stepper-button:focus{
  outline: none;
}

.share-form-field{
  flex:2;
}

.share-title-list{
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 20px;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,.03);
}

.share-feature-block{
  display:flex;
  flex-direction:row;
  justify-content: space-between
}

.share-feature-button{
  display:flex;
  flex-direction:column;
  flex:1;
  align-items: center;
  justify-content: center;
}

.share-button{
  min-width: 55px;
}

.share-block .btn-success{
  background-color: #4CAF50;
}

.share-block .btn-success mat-icon{
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.fields-additional-selection{
  opacity: 0.75;
  font-size: 0.75em;
}

.fields-form{
  display: flex;
  flex-direction: column;
}

.share-order-field .mat-select-content{
  font-size: 13px;
}

.share-stepper{
  width: 45vw;
}
