<mat-horizontal-stepper [linear]="true" (selectionChange)="changeStep($event)" class="share-stepper">
  <mat-step [stepControl]="geojsonTypeGroup">
    <form [formGroup]="geojsonTypeGroup">
      <ng-template matStepLabel>{{'Mode' | translate}}</ng-template>
      <mat-radio-group class="share-radio-group" formControlName="geojsonType">
        <mat-radio-button *ngFor="let layer of sharableLayers" [value]="layer.source" class="share-radio-button">{{ layer.id | translate}}</mat-radio-button>
      </mat-radio-group>
      <div>
        <mat-divider style="margin-top:15px;"></mat-divider>
        <button mat-button matStepperNext class="share-stepper-button">{{ 'Next' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="paramFormGroup" *ngIf="!geojsonTypeGroup.get('geojsonType').value.startsWith('feature-metric')">
    <form [formGroup]="paramFormGroup">
      <ng-template matStepLabel>{{'Parameters' | translate}}</ng-template>
      <div *ngIf="geojsonTypeGroup.get('geojsonType').value.startsWith('cluster')">
        <mat-form-field>
          <mat-select placeholder="{{'Desired precision' | translate}}" formControlName="precision" matInput required>
            <mat-option *ngFor="let val of precisions" [value]="val[0]">
              {{ val[0] }} - <span class="share-description">({{val[1]}})</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="geojsonTypeGroup.get('geojsonType').value.startsWith('feature')" class="fields-form">
        <div class="share-feature-block">
            <div style="flex:3" class="share-title-list">
                <mat-label>{{'Available fields' | translate}}</mat-label>
            </div>
            <div style="flex:1;padding:0 7px;">
            </div>
            <div style="flex:3" class="share-title-list">
                <mat-label>{{'Selected fields' | translate}}</mat-label>
            </div>
        </div>
        <div class="share-feature-block">
          <div style="max-height: 40vh;overflow:auto;flex:3">
            <mat-selection-list role="listbox" formControlName="availableFields" #selectedList (selectionChange)=onSelectionChange(selectedList.selectedOptions.selected)>
              <mat-list-option [selected]="isSelected(field)" *ngFor="let field of allFields">
                <p matLine title="{{ field.label }} - {{field.type}}">
                    {{ field.label }} - <span class="share-description">{{field.type}}</span>
                </p>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div class="share-feature-button">
            <button mat-raised-button class="mat-accent fill text-sm share-button" matTooltip="{{'Select All' | translate}}" [matTooltipPosition]="'above'" (click)="selectedList.selectAll();onSelectionChange(selectedList.selectedOptions.selected)">
              &gt;&gt;
            </button>
            <br /><br />
            <button mat-raised-button class="mat-primary fill text-sm share-button" matTooltip="{{'Remove All' | translate}}" (click)="selectedList.deselectAll();onSelectionChange(selectedList.selectedOptions.selected)">
              &lt;&lt;
            </button>
          </div>

          <div style="max-height:40vh;overflow:auto;flex:3">
            <mat-list role="list">
              <mat-list-item  *ngIf="selectedFields.length == 0">{{'No item selected' | translate}}</mat-list-item>
              <mat-list-item role="listitem" *ngFor="let field of selectedFields">
                  <p matLine title="{{ field.label }} - {{field.type}}">
                    {{ field.label }} - <span class="share-description">{{field.type}}</span>
                  </p>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <div class="share-feature-block">
          <mat-form-field class="share-form-field">
            <mat-select placeholder="{{'Order by' | translate}}" formControlName="orderField" [(value)]="selectedOrderField" panelClass="share-order-field">
              <mat-option [value]="">{{'None' | translate}}</mat-option>
              <mat-option *ngFor="let field of selectedFields | excludeType:excludedType" [value]="field">
                {{ field.label }}
              </mat-option>
            </mat-select>
            <mat-hint>{{'Types' | translate}} {{excludedTypeString}} {{'are excluded' | translate}}</mat-hint>
          </mat-form-field>
          <mat-radio-group class="share-radio-group" formControlName="orderDirection" [(ngModel)]="sortDirection">
            <mat-radio-button [value]="'asc'" class="share-radio-button">ASC</mat-radio-button>
            <mat-radio-button [value]="'desc'" class="share-radio-button">DESC</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div>
        <mat-divider style="margin-top:15px;"></mat-divider>
        <button mat-button matStepperPrevious class="share-stepper-button">{{ 'Back' | translate}}</button>
        <button mat-button matStepperNext class="share-stepper-button">{{ 'Next' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ 'Get url' | translate}}</ng-template>
    <div style="display:flex;flex-direction:row" class="share-block">
      <input matInput value="{{displayedUrl}}" class="share-url" #url>
      <button mat-raised-button color="accent" class="share-copy-url" [class.btn-success]="isCopied" (click)="copyTextToClipboard(url.value)">
        <mat-icon [hidden]="!isCopied">check</mat-icon>
        {{ 'Copy URL' | translate}}
      </button>
    </div>
    <div>
      <mat-divider style="margin-top:15px;"></mat-divider>
      <button mat-button matStepperPrevious class="share-stepper-button">{{ 'Back' | translate}}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
